body{
    padding-top: 100px;
}

.header {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100px;
    background-color: #08030D;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #F3E5FF;
    box-shadow: 0 0 20px #B8ADFF60;
}

.main-heading {
    color: #F3E5FF;
    font-size: 60px;
    font-family: brush-script-mt;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
}

.header-button-form {
    display: inline-block;
}

.header-divider {
    font-size: 16px;
}

.header-button {
    background-color: transparent;
    padding-right: 4px;
    border-style: none;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.2s, text-shadow 0.2s;
}

.header-button:active {
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.85);
    transition: color 0s, text-shadow 0s;
}

.home-button:hover {
    color: #D8ADFF;
    text-shadow: -2px -2px 10px #D8ADFFC0, 2px 2px 10px #9D45EFC0;
}

.music-button:hover {
    color: #B8ADFF;
    text-shadow: -2px -2px 10px #B8ADFFC0, 2px 2px 10px #5B44EDC0;
}

.events-button:hover {
    color: #ADFBFF;
    text-shadow: -2px -2px 10px #ADFBFFC0, 2px 2px 10px #44E4EDC0;
}

.contact-button:hover {
    color: #FFADAD;
    text-shadow: -2px -2px 10px #FFADADC0, 2px 2px 10px #ED4544C0;
}
